<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <context>context</context>
                <level>level</level>
                <message>message</message>
                <logger>logger</logger>
                <timestamp>timestamp</timestamp>
                <stackTrace>stackTrace</stackTrace>
                <thread>thread</thread>
            </fieldNames>
            <customFields>{"application":"${spring.application.name}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="io.github.aaiezza" level="DEBUG" />
</configuration>
